# Python
__pycache__/
*.py[cod]
*.pyo 
*.pyd 
*.so 
*.egg 
*.egg-info/
dist/
build/
.eggs/

# Virtual enviroment
venv/
.venv/
.env/
ENV/

# Model checkpoints
checkpoints/
*.pt
*.pth
*.ckpt

# Dataset and audio files
data/
*.wav
*.mp3
*.flac
*.mid
*.midi
*.npy
*.csv

# Plots
plots/

# Ide
.vscode/
.idea/
.DS_Store
Thumbs.db

# various
.env
.cache/
.ipynb_checkpoints/
*.ipynb
